# production -> sdk will be generated in to the nearest node_modules directory
# development -> sdk will be generated into ./sdk
NODE_ENV=production

# Test-system credentials. These are used to test the sdk
TEST_DOMAIN=
TEST_API_KEY=

# Optional credentials used by sdk:build
WECLAPP_BACKEND_URL=
WECLAPP_API_KEY=
