{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "parser": "@typescript-eslint/parser",
        "project": "./tsconfig.json"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-console": "error",
        "comma-dangle": "error",
		"linebreak-style": ["error", "unix"],
		"object-curly-spacing": ["error", "never"],
		"@typescript-eslint/semi": ["error"],
		"semi-spacing": ["error", {"before": false, "after": true}]
    },
	"overrides": [
		{
			"files": ["*.spec.ts"],
			"rules": {
				"@typescript-eslint/no-non-null-assertion": "off"
			}
		}
	]
}
