engine-strict=true
message="Release v%s"

@weclapp:registry=https://gitlab.internal.weclapp.com/api/v4/packages/npm/
'//gitlab.internal.weclapp.com/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
'//gitlab.internal.weclapp.com/api/v4/projects/145/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
